/* Box Model */

* {
    outline: 2px solid red;
  }

/* Global */

@font-face {
  font-family: Shentox;
  src: url("https://next.tnwcdn.com/assets/next/fonts/shentox-medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: Graphik-regular;
  src: url("https://next.tnwcdn.com/assets/next/fonts/graphik-regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: Graphik-medium;
  src: url("https://next.tnwcdn.com/assets/next/fonts/graphik-medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: TNW-Avalon-bold;
  src: url("https://next.tnwcdn.com/assets/next/fonts/tnw-avalon-bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: Trump-Soft-Pro-bold;
  src: url("https://next.tnwcdn.com/assets/next/fonts/trump-soft-pro-bold.woff2") format("woff2");
  font-weight: 700;
}

body {
  width: 100vw;
  font-family: Graphik-regular, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}

main {
  position: relative;
  top: 88px;
}

a {
  color: #505666;
  text-decoration: none;
}

h1 {
  color: rgb(80,86,102);
}

/* Topbar */

.header {
  top: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 0 48px rgba(0,0,0,.15);
}

.nav-logo {
  position: absolute;
  left: 1.5rem;
  height: 3rem;
  width: 4.125rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
}

.nav-logo svg {
  height: 1rem;
  cursor: pointer;
}

.top-bar {
  display: flex;
  flex: 1;
}

.nav-link {
  padding-left: 1rem;
  padding-top: .1875rem;
  padding-right: 1rem;
  font-family: Shentox, sans-serif;
  font-size: .875rem;
  letter-spacing: .08rem;
  line-height: 48px;
  text-transform: uppercase;
}

.arrow-down {
  color: #999;
}

.newsletter {
  position: absolute;
  top: .3em;
  right: 1.2em;
  height: 20px;
  width: 20px;
}

.newsletter svg {
  fill:rgba(80,86,102,.25);
  cursor: pointer;
}

.subheader {
  position: fixed;
  top: 48px;
  padding: .85em 1.7em;
  display: block;
  width: 100%;
  z-index: 1;
  font-size: .8rem;
  color: #000;
  background-color: #fd3;
  box-shadow: 0 16px 48px rgba(0,0,0,.15);
}

.menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav-logo svg {
    fill: #999;
  }

  .top-bar,
  .newsletter,
  .subheader {
    display: none;
  }

  .header {
    display: block;
    width: 100vw;
  }

  .menu {
    left: 0;
    position: absolute;
    width: 2.34em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu span {
    width: 1em;
    height: 1em;
    color: gray;
  }

  .nav-logo {
    left: 2em;
  }

  .header {
    width: 100%;
    height: 2em;
  } 
}

/* Content Header */

.header-section {
  padding-top: 4em;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}

.logo-lg {
  position: relative;
  width: 9.625em;
}

.slogan {
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  .header-section {
    padding-top: 1em;
    flex-direction: column;
    align-items: center;
  }

  .logo-lg {
    width: 40%;
  }
  
  .slogan {
    font-size: 1rem;
  }
}

/* Showcase Grid */

.showcase {
  margin: 0 auto;
  padding: 0 2em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 144px);
}